<div class="container">
	<h3 class="awards__headline" style="margin-top:2em">Award Winning Properties</h3>
	<p class="intro__paragraph">Woodmont Properties is consistently recognized for its creativity in designing best-in-class luxury homes and luxury apartment communities – a testament to the company’s commitment to excellence. For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>
  <p class="intro__paragraph">In the past two years, Woodmont received 50 awards, including the coveted Smart Growth Award from New Jersey Future for Woodmont Metro at Metuchen Station. For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>

	<img class="awards__badges" src="{{theme.path}}/assets/img/woodmont-award-badges.png">

	<a class="awards__apply-cta" href="./awards">See All Awards</a>

</div>
