<div class="container">
	<h2 class="section__headline">Industry Awards</h2>
	<p class="intro__paragraph">Woodmont Properties is consistently recognized for its creativity in designing best-in-class luxury homes and luxury apartment communities – a testament to the company’s commitment to excellence. For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>
	<h3 class="awards__headline">Recent Awards</h3>

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
				<h3 class="awards__subheading">Woodmont West at Mt. Arlington</h3>
				<p class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</p>
	    </div>
	    <div class="carousel-item">
				<h3 class="awards__subheading">Woodmont Knolls at Hanover</h3>
				<p class="award__list-item">2017 New Jersey Apartment Association Garden State Awards</p>
	    </div>
	    <div class="carousel-item">
				<h3 class="awards__subheading">Woodmont Ridge at Upper Macungie</h3>
				<p class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</p>
	    </div>
	  </div>
	</div>

	<a class="awards__apply-cta" href="./awards">View All Awards</a>
	<img class="awards__badges" src="{{theme.path}}/assets/img/woodmont-award-badges.png">

</div>
