<div class="container">
	<h2 class="section__headline">Industry Awards</h2>
	<p class="intro__paragraph">Woodmont Properties is consistently recognized for its creativity in designing best-in-class luxury homes and luxury apartment communities – a testament to the company’s commitment to excellence. For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>
	<img class="awards__badges" src="{{theme.path}}/assets/img/woodmont-award-badges.png">
	<a class="awards__apply-cta" href="./awards">View All Awards</a>
</div>
