	<section class="section__header" id="careers-header" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')" id="properties">
		<div class="container">
			<h2 class="header__title">Careers</h2>
		</div>
	</section>
<div class="container">
	<h2 class="career__subheading" style="margin-top:100px">Build your career from the ground up at Woodmont Properties.</h2>
	<p class="intro__paragraph" style="margin-bottom:50px;">Since 1963, Woodmont has done more than just build environments for people to live, work, shop and play. We know that our people are the foundation of the success of our company. We believe that our people share the same values and work ethic, and are the reason why we are one of the region’s leading real estate companies. If you’re looking to take the next step in your career, join the Woodmont family to be a part of a growing company where every voice is heard.</p>
	<a class="section__cta-button" target="_blank" href="https://www.jobs.net/jobs/woodmontproperties">View All Careers</a>
	<div class="row"  style="margin-top:2em;">
		<article class="col-md-6">
			<img class="rounded" src="{{theme.path}}/assets/img/woodmont-careers.jpg" style="height: 450px; object-fit:cover;margin-bottom:2em">
		</article>
		<article class="section__about-careers about col-md-6">
			<h2 class="career__subheading">Why Woodmont?</h2>
			<p class="career__paragraph">Woodmont employees are our top priority and at the center of our business’ success. When you join Woodmont Properties, you will be placed in a position to succeed, and you will be exposed to the multiple career paths available to you. Just as we care about the details of the communities we build and the people who reside in them, we equally care about our team members.</p>

			<h2 class="career__subheading">Working at Woodmont</h2>
			<p class="career__paragraph">We invest in our team members’ success because a rewarding career for you is intertwined with the achievement of our company goals. When you work with us, you receive individualized training, mentoring and coaching to assure you are comfortable with your responsibilities and have the tools you need to be successful.
			</p>
		</article>
	</div>
	<h2 class="section__headline">Core Purpose &amp; Values</h2>

			<h3 class="intro__statement">Our Core Purpose is to create great environments for people to live, work, shop and play.
			<span class="core__byline">&mdash; Our purpose defines our mission.</span></h3>

			<h3 class="intro__statement">Our Core Values are the rules defining our culture, which are reinforced through our people and our actions on a daily basis. <span class="core__byline">&mdash; Our values keep us focused.</span></h3>

		<ul class="core-value__list">
			<li class="core__value">
				<h3 class="core-value__title">Good Judgement</h3>
					<p class="core-value__description">Do the right thing in the right way. Solve problems to satisfaction of all parties, while protecting the company.</p>
			</li>
			<li class="core__value">
				<h3 class="core-value__title">Ownership</h3>
				<p class="core-value__description">Take complete responsibility for your actions. Be accountable and thoroughly execute your mission for the benefit of the company, customers and residents.</p>
			</li>
			<li class="core__value">
				<h3 class="core-value__title">Tenacious</h3>
				<p class="core-value__description">Be persistent in finding the right solutions and achieving objectives in a cost-effective manner. Overcome obstacles. Excel through discipline and innovation.</p>
			</li>
			<li class="core__value">
				<h3 class="core-value__title">Team Player</h3>
				<p class="core-value__description">Work with and support your teammates to assure success of the entire company. We win by the power of working together.</p>
			</li>
		</ul>

		<a class="section__cta-button" target="_blank" href="https://www.jobs.net/jobs/woodmontproperties">Learn More &amp; Apply</a>
	</span>
</div>
