	<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')" id="properties">
		<div class="container">
			<h2 class="header__title">Careers</h2>
		</div>
	</section>
<div class="container">
	<h2 class="career__subheading" style="margin-top:50px">Build your career from the ground up at Woodmont Properties.</h2>
	<p class="intro__paragraph" style="margin-bottom:50px;">Since 1963, Woodmont has done more than just build environments for people to live, work and shop. We know that our people are the foundation of the success of our company. We believe that our people share the same values and work ethic, and are the reason why we are one of the region’s leading real estate companies. If you’re looking to take the next step in your career, join the Woodmont family to be a part of a growing company where every voice is heard.</p>
	<div class="row">
		<article class="col-md-6">
			<img class="rounded" src="{{theme.path}}/assets/img/woodmont-careers.jpg" style="height: 450px; object-fit:cover;margin-bottom:2em">
		</article>
		<article class="col-md-6">
			<h2 class="career__subheading">Why Woodmont?</h2>
			<p class="intro__paragraph">Woodmont employees are our top priorty and at the center of our business’ success. When you join Woodmont Properties, you will be placed in a position to succeed, and you will be exposed to the multiple career paths available to you. Just as we care about the details of the communities we build and the people who reside in them, we equally care about our team members who are charged with the responsibility to deliver our real estate projects.</p>
			<h2 class="career__subheading">Working at Woodmont</h2>
			<p class="intro__paragraph">We invest in our team members’ success because a rewarding career for you is intertwined with the achievement of our company goals. When you work with us, you receive individualized training, mentoring and coaching to assure you are comfortable with your responsibilities and have the tools you need to be successful. You will work in a team-oriented environment that allows everyone to have a challenging and fulfi lling career, while recognizing that your role matters and contributes to the team’s success.
			</p>
		</article>
	</div>
	<h2 class="section__headline">Core Purpose &amp; Values</h2>
	<span class="row col">
		<h3 class="intro__statement">Our Core Purpose is to create great environments for people to live, work and shop. <span>&mdash; Our purpose defines our mission.</span></h3>
		<h3 class="intro__statement">Our Core Values are the rules defining our culture, which are reinforced through our people and our actions on a daily basis. <span>&mdash; Our values keep us focused.</span></h3>
		<ul class="core-value__list">
			<li class="core-value__title"><span class="core-value__letter">G</span>ood Judgement
			<li class="core-value__description">Do the right thing in the right way. Solve problems to satisfaction of all parties, while protecting the company.</li>
			<li class="core-value__title"><span class="core-value__letter">O</span>wnership</li>
			<li class="core-value__description">Take complete responsibility for your actions. Be accountable and thoroughly execute your mission for the benefit of the company, customers and residents.</li>
			<li class="core-value__title"><span class="core-value__letter">T</span>enacious</li>
			<li class="core-value__description">Be persistent in finding the right solutions and achieving objectives in a cost-effective manner. Overcome obstacles. Excel through discipline and innovation.</li>
			<li class="core-value__title"><span class="core-value__letter">T</span>eam Player</li>
			<li class="core-value__description">Work with and support your teammates to assure success of the entire company. We win by the power of working together.</li>
		</ul>
	</span>
	<h2 class="section__headline">Employee Benefits</h2>
	<span class="row col">
		<h3 class="career__subheading">As the heart of our company, you deserve the best. Become eligible for a great benefits package after two months of employment. We offer a competitive and comprehensive benefits package that includes:</h3>
		<ul class="career__paragraph">
			<li>Medical Insurance</li>
			<li>Dental Insurance</li>
			<li>Vision Insurance</li>
			<li>Company Paid and Voluntary Life AD&amp;D Insurance</li>
			<li>Short-term Disability Plan</li>
			<li>Employee Assistance Plan</li>
			<li>Flexible Spending Accounts</li>
			<li>Health Reimbursement Arrangement</li>
			<li>AFLAC Voluntary Insurance Plans</li>
			<li>401(k) Plan</li>
		</ul>
		<h3 class="career__subheading">Want to learn more about other positions we have available? Send your resume to careers@woodmontproperties.com to apply for these commonly available positions:</h3>
		<ul class="career__paragraph">
			<li>Community Manager</li>
			<li>Leasing Professional</li>
			<li>Maintenance Supervisor</li>
			<li>Maintenance Technician</li>
			<li>Construction Project Manager</li>
			<li>Accountant</li>
			<li>Other Positions Available:</li>
			<li>Construction Handyman</li>
			<li>Construction Laborer</li>
			<li>Field Construction Coordinator</li>
		</ul>
		<h3 class="career__subheading">We’re interested in what every candidate has to bring to the table. If your skills and background match our needs, we’ll be in touch!</h3>
	</span>
	<div class="row">
		<span class="col">
			<a class="career__apply-cta" href="http://jobs.net/jobs/woodmontproperties/en-us" target="_blank">See All Careers</a>
		</span>
	</div>
</div>
