	<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')" id="properties">
		<div class="container">
			<h2 class="header__title">Careers</h2>
		</div>
	</section>
<div class="container">
	<h2 class="career__subheading" style="margin-top:50px">Build your career from the ground up at Woodmont Properties.</h2>
	<p class="intro__paragraph" style="margin-bottom:50px;">Since 1964, we’ve done more than just build environments for people to live, work and shop. We’ve built a family. One that’s doubled in size in recent history. We know that our people make up the foundation of our company. We believe that our people will take us into the future and bring us closer to achieving our goal of becoming the region’s leading multifamily manager. Help us achieve our goals and yours by joining the Woodmont family.</p>
	<div class="row">
		<article class="col-md-6">
			<img class="rounded" src="{{theme.path}}/assets/img/woodmont-careers.jpg" style="height: 450px; object-fit:cover;margin-bottom:2em">
		</article>
		<article class="col-md-6">
			<h2 class="career__subheading">Why Woodmont?</h2>
			<p class="intro__paragraph">Two words. We care &mdash; from the materials used to build our luxury apartment communities to our team members and the people who reside in them. We care about every aspect of our business because it’s just that personal.</p>
			<h2 class="career__subheading">Working at Woodmont</h2>
			<p class="intro__paragraph">We’re all family here. That means we stand by each other every single day. When you come to work with us, you receive individualized attention to grow your career. We invest in our team members’ success because when they succeed, we succeed.
			</p>
		</article>
	</div>
	<div class="row">
		<span class="col">
			<a class="career__apply-cta" href="./careers">View All Careers</a>
		</span>
	</div>
</div>
