<!-- Modal -->
<div class="modal" id="industrialPropModal" tabindex="-1" role="dialog">
  <figure class="modal-dialog staff-member__modal" role="document">
      <span class="staff-member__modal-exit" >
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
      <div class="staff-modal__text">
        <h3 class="prprty-type__headline">About Woodmont Industrial Partners</h3>
        <h2 class="section__subhead">Our Team</h2>
        <p class="about__paragraph">Woodmont’s Expertise in acquisitions, financing, entitlements, construction, marketing, leasing, asset/property management and logistics, provides the combination of skills and experience necessary for successful investment.</p>
        <h2 class="section__subhead">Our Strategy</h2>
        <p class="about__paragraph">Woodmont invests, develops, builds, markets, and manages a growing portfolio of strategically located port/intermodal industrial properties in the Eastern United States.</p>
        <h2 class="section__subhead">Our Success</h2>
        <p class="about__paragraph">In the past six years, Woodmont Industrial Partners has acquired 3.5 Million sq. ft. of Industrial Space, invested $30 Million in Capital Improvements, achieved an average $20 per sq. ft. profit, a 2.4 Cap Multiple, and a 40% Internal Rate of Return on its portfolio.</p>
        <h2 class="section__subhead">Our Needs</h2>
        <p class="about__paragraph">Woodmont is focused on infill value-add opportunities in acquisitions and land development in the Philadelphia and Northern New Jersey Industrial Markets. Woodmont is adept at repositioning challenging sites with complex issues.</p>
        <h2 class="section__subhead">Our Commitment</h2>
        <p class="about__paragraph">Woodmont is committed to its real estate community brokers and their expertise in contributing to the acquisition and development process.</p>
        <h2 class="section__subhead">Acquisition Managers</h2>
        <p class="about__paragraph">MATTHEW W. CROCKER (PA)<br>717.439.4871<br>mcrocker@woodmontind.com
        <br><br>ANTHONY AMADEO (NJ)<br>973.487.1792<br>aamadeo@woodmontind.com</p>
        <br>
        <a class="section__cta-button" href="/woodmont-industrial-real-estate.pdf" target="_blank">Download PDF</a>
      </div>
  </figure>
</div>
