	<section class="section__intro" style="text-align:center">
		<h2 class="about__headline" style="padding:0;margin:.5em auto">For Over 50 Years</h2>
		<h2 class="intro__statement" style="padding:0;max-width:500px;">We are Commited to Delivering Excellence &amp; World-Class Properties</h2>
	</section>
