	<section class="section__intro" style="text-align:center">
		<h2 class="intro__statement" style="max-width:700px;">Woodmont Properties is a regional real estate company that develops, builds, markets and invests in a diversified range of real estate.</h2>
	</section>
