	<section class="section__intro row">
		<h2 class="intro__headline col-sm" style="padding-right:2em">We care about every aspect of our business becuase it's just that personal.</h2>
		<p class="intro__paragraph col-sm">Since 1964, we’ve done more than just build environments for people to live, work and shop. We’ve built a family. And two words lie at the heart of everything we do. We care — from the materials used to build our properties to our team members and the people who use them. We care about every aspect of our business because it’s just that personal.</p>
	</section>
