<div class="container">
  <h2 class="section__headline">In The News</h2>
  <h3>Recent News</h3>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% for story in news %}
          <h2>
            {{story.title}} - {{story.get_preview(25)}}
          </h2>
        {% endfor %}
      </div>
      <div class="carousel-item">
        {% for story in news %}
          <h2>
            {{story.title}} - {{story.get_preview(25)}}
          </h2>
        {% endfor %}
      </div>
    </div>
  </div>
  <a class="section__cta-button section__cta-button--inverted" href="./news">See All News</a>
</div>
