<ul class="staff__type-toggles row">
    <li id="filterPrincipals" class="principals staff__type-label col-md-3 col-12">
      <span class="staff__type-filter">Principals</span>
    </li>
    <li id="filterExecutives" class="executives staff__type-label col-md-3 col-12">
      <span class="staff__type-filter">Executive Management</span>
    </li>
    <li id="filterManagement" class="management staff__type-label col-md-3 col-12">
      <span class="staff__type-filter">Management</span>
    </li>
    <li id="filterAll" class="all staff__type-label col-md-3 col-12">
      <span class="staff__type-filter">All</span>
    </li>
</ul>
