		<section class="section__header" style="background-image:url('{{theme.path}}/assets/img/header-image_our-company.jpg')">
			<div class="container">
				<h1 class="header__title">Our Company</h1>
			</div>	
		</section>
		<article class="container">
			<h2 class="intro__statement">{{post.content}}</h2>
			<section class="section__about section__about--history row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<img class="about__side-img rounded" src="{{theme.path}}/assets/img/history-of-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">		
					<h2 class="about__headline">Storied History</h2>
					<p class="about__paragraph">Founded in 1963 by Donald Witmondt, Woodmont Properties has set the standard in real estate development. Woodmont is a second-generation family-owned, real estate development company that has established a track record of success in real estate development by adhering to a tradition of integrity, and placing a high value on long- term relationships</p>
					<div class="collapse" id="collapseHistory">
						<p class="about__paragraph">Under the leadership of our CEO, Eric Witmondt, Woodmont has become one of the leading regional developers with a diverse portfolio of residential and commercial properties. Eric was instrumental in growing the company by expanding the range, scale and locations of development.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseHistory" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
			<section class="section__about section__about--what-we-do row justify-content-center">
				<div class="col-lg-4 col-md-6">
				<img class="about__side-img rounded" src="{{theme.path}}/assets/img/what-we-do-woodmont-properties.jpg">
				</div>
				<div class="about__text col-lg-6 col-md-6">	
					<h2 class="about__headline">What We Do</h2>
					<p class="about__paragraph">As a multi-disciplined and vertically-integrated organization, Woodmont Properties specializes in developing properties by utilizing its skills in development to bring a concept to raw land and see it through to fruition and financial success.</p>
					<div class="collapse" id="collapseWhatWeDo">
						<p class="about__paragraph">Under Eric Witmondt’s leadership, Woodmont has grown to become one of the region’s most active developers. Woodmont’s team is comprised of specialists in acquisitions, entitlements, engineering, construction, legal, finance, sales, leasing, marketing and property management.</p>
					</div>
					<a class="link__read-more" data-toggle="collapse" href="#collapseWhatWeDo" aria-expanded="false" aria-controls="collapseExample">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
		</article>