		<section class="section__header">
				<div class="col span_1_of_8"></div>
				<h1 class="header__title">{{post.title}}</h1>
		</section>
		<article class="content-margins">
			<span class="col span_1_of_8"></span>
			<div class="col span_6_of_8">		
				<h2 class="intro__statement">{{post.content}}</h2>
			</div>
			<section class="section__about section__about--history row">
				<span class="col span_1_of_8"></span>
				<div class="col span_2_of_8">
					<img class="about__side-img" src="{{theme.path}}/assets/img/history-of-woodmont-properties.jpg">
				</div>
				<div class="about__text col span_4_of_8">		
					<h2 class="about__headline">Storied History</h2>
					<p class="about__paragraph">This is a no-brainer quick win we need to future-proof this, but curate. First-order optimal strategies low-hanging fruit run it up the flagpole, ping the boss and circle back. Reach out customer centric. Organic growth paddle on both sides, or ladder up / ladder back to the strategy.</p>
					<a class="link__read-more"  href="#">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
			</section>
			<section class="section__about section__about--what-we-do row">
				<span class="col span_1_of_8"></span>	
				<div class="about__text col span_4_of_8">	
					<h2 class="about__headline">What We Do</h2>
					<p class="about__paragraph">Value prop we need to dialog around your choice of work attire, and hit the ground running, nor killing it cloud strategy digitalize. Quick-win wiggle room staff engagement herding cats. Cross-pollination win-win, for come up with something buzzworthy, for come up with something buzzworthy re-inventing the wheel.</p>
					<a class="link__read-more" href="#">Read More <span class="link__arrow-down">&#9660;</span></a>
				</div>
				<div class="col span_2_of_8">
					<img class="about__side-img" src="{{theme.path}}/assets/img/what-we-do-woodmont-properties.jpg">
				</div>
			</section>
		</article>