<div class="container">
	<h2 class="section__headline">Awards</h2>
	<p class="intro__paragraph">Woodmont Properties is consistently recognized for its creativity in designing best-in-class luxury homes and luxury apartment communities – a testament to the company’s commitment to excellence.</p>

	<p class="intro__paragraph">Over the past decade, Woodmont has been recognized for its innovative design, marketing initiatives and project management with nearly 100 awards from leading industry organizations. In the past two years, Woodmont
		received 50 awards, including the coveted Smart Growth Award from New Jersey Future for Woodmont Metro at Metuchen Station.</p>

	<p class="intro__paragraph">For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>
</div>
