<form id="contact-form" class="section__contact-form container" method="post" action="{{theme.path}}/contact.php" role="form">
    <div class="messages"></div>
    <div class="controls">
        <span class="row">
            <span class="footer__right-column col-lg-6 col-md-5">
              <ul class="footer__contact-info">
                <h3 class="footer__headline">Acquisitions</h3>
                <li>David Trager</li>
                <li>973.487.1777</li>
                <li>dtrager@woodmontproperties.com</li>
              </ul>
              <ul class="footer__contact-info">
                <h3 class="footer__headline">Asset Management Operations</h3>
                <li>Georger Buchmann</li>
                <li>973.487.1772</li>
                <li>gbuchmann@woodmontproperties.com</li>
              </ul>
            </span>
            <span class="footer__left-column col-lg-6 col-md-7">
                <div class="form-group">
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Name" required="required" data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Phone" required="required">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <input type="submit" class="form__submit-button" value="Send Message">
            </span>
        </span>
    </div>
</form>
