<form id="contact-form" class="section__contact-form container" method="post" action="{{theme.path}}/contact.php" role="form">
    <div class="messages"></div>
    <div class="controls">
        <span class="row">
            <span class="footer__right-column col-lg-6 col-md-5">
              <a target="_blank" href="https://www.google.com/maps/place/Woodmont+Properties/@40.869681,-74.2794034,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3af728c4c7d45:0xa5b128ecdf2d29f3!8m2!3d40.869677!4d-74.2772147">
                <img class="rounded" src="{{theme.path}}/assets/img/woodmont_map.jpg">
              </a>
            </span>
            <span class="footer__left-column col-lg-6 col-md-7">
                <div class="form-group">
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Name" required="required" data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Phone" required="required">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <input type="submit" class="form__submit-button" value="Send Message">
            </span>
        </span>
    </div>
</form>
