  <nav class="footer__nav">
    <ul class="footer__nav-menu">
      <li class="footer__nav-item"><a class="footer__nav-link" href="{{site.link}}">Home</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="{{site.link}}/news">News</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" href="{{site.link}}/awards">Awards</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link" target="_blank" href="https://www.jobs.net/jobs/woodmontproperties">Careers</a></li>
    </ul>
  </nav>

  <span class="footer__copyright">&copy; {{"now"|date('Y')}} Woodmont Properties | Site by <a target="_blank" href="http://primarydesign.com">PRIMARY</a></span>
