<nav class="nav__navbar">
	<div class="col span_1_of_8"></div>
		<div class="col" style="margin: 5px 0 0 0">
		<div class="navbar__logo">
			{% include "svg/woodmont-logo.twig" %}
		</div>
	</div>
</nav>