<div class="section__prprty-types prprty-type__intro--apts">
	<figure class="prprty-type__image prprty-type__image--apts" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_apts.jpg')"></figure>
	<article class="prprty-type__intro">
			<h3 class="prprty-type__headline">Luxury Apartments</h3>
			<p class="prprty-type__description">Quick win we need to socialize the comms with the wider stakeholder community. Ladder up / ladder back to the strategy. Hit the ground running on-brand but completeley fresh, so put your feelers out make sure to include in your wheelhouse.</p>
			<a class="prprty-type__cta" href="#">View Properties</a>
	</article>
</div>	
<div class="section__prprty-types prprty-type__intro--homes">
	<figure class="prprty-type__image prprty-type__image--homes" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_homes.jpg')"></figure>
	<article class="prprty-type__intro">
		<h3 class="prprty-type__headline">Luxury Homes</h3>
		<p class="prprty-type__description">We need distributors to evangelize the new line to local markets game plan this is a no-brainer market-facing face time, or great plan. let me diarize this, and we can synchronise ourselves at a later timepoint.</p>
		<a class="prprty-type__cta" href="#">View Properties</a>
	</article>
</div>	
<div class="section__prprty-types prprty-type__intro--commercial">
	<figure class="prprty-type__image prprty-type__image--commercial" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_commercial.jpg')"></figure>
	<article class="prprty-type__intro">
		<h3 class="prprty-type__headline">Industrial Properties</h3>
		<p class="prprty-type__description">Commitment to the cause proceduralize, so cross functional teams enable out of the box brainstorming yet run it up the flagpole, ping the boss and circle back organic growth. Clear blue water let's unpack that later.</p>
		<a class="prprty-type__cta" href="#">View Properties</a>
	</article>
</div>	
<div class="section__prprty-types prprty-type__intro--industrial">
	<figure class="prprty-type__image prprty-type__image--industrial" style="background-image: url('{{ theme.path}}/assets/img/woodmont-properties_industrial.jpg')"></figure>
	<article class="prprty-type__intro">
		<h3 class="prprty-type__headline">Commercial Properties</h3>
		<p class="prprty-type__description">Obviously upsell yet usabiltiy, so at the end of the day. We need to leverage our synergies. We need to socialize the comms with the wider stakeholder community get six alpha pups in here for a focus group granularity.</p>
		<a class="prprty-type__cta" href="#">View Properties</a>
	</article>
</div>