<figure class="slideshow__container">
	<span class="slideshow__text slideshow__text--italic">For Over 50 Years</span>
	<figcaption class="slideshow__text slideshow__text--bold">
		Experience,<br>
		Expertise &amp;<br>
		Commitment.
	</figcaption>
	<a class="slideshow__cta-button">Our History</a>
	<a class="slideshow__cta-button">What We Do</a>
</figure>