<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
	<div class="container">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<figure class="slideshow__container">
						<span class="slideshow__text slideshow__text--italic">For Over 50 Years</span>
						<figcaption class="slideshow__text slideshow__text--bold">
							Experience,<br>
							Expertise &amp;<br>
							Commitment.
						</figcaption>
						<a class="slideshow__cta-button">Our History</a>
						<a class="slideshow__cta-button">What We Do</a>
				</figure>
			</div>
			<div class="carousel-item">
				<figure class="slideshow__container">
						<figcaption class="slideshow__text slideshow__text--bold">
							Creating Great Environments for People to Live, Work and Shop
						</figcaption>
						<a class="slideshow__cta-button">Our History</a>
				</figure>
			</div>
			<div class="carousel-item">
				<figure class="slideshow__container">
						<figcaption class="slideshow__text slideshow__text--bold">
              Bringing innovation and High-Quality Design to Superior Locations
						</figcaption>
						<a class="slideshow__cta-button">What We Do</a>
				</figure>
			</div>
      <div class="carousel-item">
				<figure class="slideshow__container">
						<figcaption class="slideshow__text slideshow__text--bold">
              A Proven Track Record of Success in Real Estate Development
						</figcaption>
						<a class="slideshow__cta-button">What We Do</a>
				</figure>
			</div>
      <div class="carousel-item">
				<figure class="slideshow__container">
						<figcaption class="slideshow__text slideshow__text--bold">
              Offering Unparalleled Combination of Experience &amp; Expertise
						</figcaption>
						<a class="slideshow__cta-button">What We Do</a>
				</figure>
			</div>
      <div class="carousel-item">
				<figure class="slideshow__container">
						<figcaption class="slideshow__text slideshow__text--bold">
              Committed to Delivering Excellence &amp; World-Class Properties
						</figcaption>
						<a class="slideshow__cta-button">What We Do</a>
				</figure>
			</div>
		</div>
	</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
