.section__our-company {
	background: $white;
}
.section__about {
	margin-bottom: 4em;
}
.section__services {

}
.about__side-img {
	width: 100%;

}
.about__text, .about__side-img {
	margin-bottom: 15px;
	@include media-breakpoint-up(sm) {
		margin-bottom: 30px;
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 60px;
	}
}
.about__headline {
	@extend .section__headline;
	margin-top: 0;
	line-height: 1;
}
.about__paragraph {
	@extend .intro__paragraph;
	padding-top: 0;
}
.link__read-more {
	display: inline-block;
	color: $dkblue;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: .85em;
	padding-bottom: 15px;
}
.link__arrow-down {
	padding: 5px;
	display: inline-block;
}
.link__read-more[aria-expanded="true"] .link__arrow-down {
  transform: rotate(180deg);
}

.section__about--history .about__text {
	@include media-breakpoint-up(sm) {
		padding-left: 2em;
	}
}
.section__about--what-we-do .about__text, .section__about--who-we-are .about__text {
	@include media-breakpoint-up(sm) {
		padding-right: 2em;
	}
}
.section__about--what-we-do, .section__about--who-we-are {
	@include media-breakpoint-up(sm) {
		display: flex;
		flex-direction: row-reverse;
	}
}
.services__list {
	list-style: none;
	margin: 0;
	padding: 0;
	.about__paragraph {
		font-size: .85em;
	}
}
.services__list-item {
	display: inline-block;
	margin: 2em 0;
	vertical-align: top;
	@include media-breakpoint-up(md) {
		width: 45%;
		padding-right: 8%;
	}
	@include media-breakpoint-up(lg) {
		width: 33%;
		padding-right: 6%;
	}
}
.services__icon {
	display: inline-block;
	width: 100px;
	height: 100px;
}
