.section__about {}
.about__side-img {
	width: 100%;
	@include media-breakpoint-up(sm) {	
		max-width: 400px;
	}
}
.about__text, .about__side-img {
	margin-bottom: 15px;	
	@include media-breakpoint-up(sm) {
		margin-bottom: 30px;
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 60px;
	}	
}
.about__headline {
	@extend .section__headline;
	margin-top: 0;
	line-height: 1;
}
.about__paragraph {
	@extend .intro__paragraph;
	padding-top: 0;
}
.link__read-more {
	display: inline-block;
	color: $dkblue;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	margin-bottom: 15px;
	padding: 15px 5px;
}
.link__arrow-down {
	padding: 5px;
}
.section__about--history .about__text {
	@include media-breakpoint-up(sm) {
		padding-left: 2em;
	}
}
.section__about--what-we-do .about__text {
	@include media-breakpoint-up(sm) {
		padding-right: 2em;
	}
}
.section__about--what-we-do {
	@include media-breakpoint-up(sm) {
		display: flex;
		flex-direction: row-reverse;
	}
}