.section__about {
	.col {
		@media (max-width: $screen-sm) {
			width: 100% !important;
		}
	}
}
.about__side-img {
	width: 100%;
	@media (min-width: $screen-sm) {	
		max-width: 400px;
	}
}
.about__text, .about__side-img {
	@media (min-width: $screen-sm) {	
		margin-bottom: 60px;
	}
}
.about__headline {
	@extend .section__headline;
	margin-top: 0;
	line-height: 1;
}
.about__paragraph {
	@extend .intro__paragraph;
	margin-bottom: 15px;
}
.link__read-more {
	display: block;
	color: $dkblue;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	margin-bottom: 15px;
}
.link__arrow-down {
	padding: 5px;
}
.section__about--history .about__text {
	@media (min-width: $screen-sm) {
		padding-left: 2em;
	}
}
.section__about--what-we-do .about__text {
	@media (min-width: $screen-sm) {
		padding-right: 2em;
	}
}
.section__about--what-we-do {
	@media (min-width: $screen-sm) {	
		display: flex;
		flex-direction: row-reverse;
	}
}