.section__careers {
	padding: 0 0 100px;
	background-color: $ltgray;
	.intro__statement {
		padding: 0 0 2em ;
		span {
			display: block;
			@include boldCaps;
			font-style: normal;
			color: $dkblue;
			font-size: 1.2rem;
		}
	}
}
.section__careers-page {
	padding:  60px 0;
}
.section__about-careers {
	margin-bottom: 2em;
}
.career__post {
	.intro__paragraph {
			padding: 0;
	}
}
.career__title {
	@include boldCaps;
	@include fontSmooth;
	font-weight: 700;
}
.career__subheading {
	margin-top: 0;
	font-style: italic;
}
.career__paragraph {
	font-size: .9em;
	line-height: 1.85;
}
.career__apply-cta {
	@extend .prprty-type__cta;
	margin-top: 15px;
}
.core-value__list {
	list-style: none;
	margin: 1em 0 4em;
	padding: 0;
	li {
		margin-bottom: 1em;
	}
}
.core__value {
	border-bottom: 1px solid $gray;
  @include media-breakpoint-up(sm) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
	}
}
.core-value__title {
	font-family: $sans;
	font-size: 1.75em;
	font-weight: 700;
	color: $dkblue;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	@include media-breakpoint-up(sm) {
		display: inline-block;
		width: auto;
	}
}
.core-value__description {
	display: inline-block;
	padding: .5em 0 0 0;
	margin: 0 0 1em 0;
	@include media-breakpoint-up(sm) {
		width: 50%;
	}
}
.core__byline {
	margin: 2em 0;
	line-height: 1.25;
}
