.section__intro {
	margin: 18% 0 !important;
}
.intro__headline, .intro__paragraph {
	margin: 0;
	padding: 0;
}
.intro__headline {
	@include fontSmooth;
	margin-bottom: .5em;
	font-size: 2.5em;
	line-height: 1.5;
	font-family: $serif;
	font-style: italic;
	color: $dkgray;
}
.intro__paragraph {
	line-height: 2;
	font-size: .9em;
  padding: 5px 0;
	margin-bottom: 10px;
	@media (min-width: $screen-xl) {
		font-size: 1.1em;
	}
}
.section__header {
	padding: 100px 0 30px 0;
	background: $dkblue;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	@include media-breakpoint-up(sm) {
			padding: 400px 0 60px 0;
	}
}
.header__title {
	@include boldCaps;
	@include fontSmooth;
	color: $white;
	font-size: 2.5em;
	line-height: 1;
	@include media-breakpoint-up(sm) {
		font-size: 4.5em;
	}
}
.header__title, .intro__statement {
	margin: 0;
	max-width: 1000px;
}
.intro__statement {
	@include fontSmooth;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
	font-style: italic;
	color: $dkgray;
	padding: 4em 0 4em;
	margin: 0 auto;
	@include media-breakpoint-up(md) {
		font-size: 1.5em;
	}
	@include media-breakpoint-up(lg) {
		font-size: 2em;
	}
}
.intro__statement--white {
	color: #fff;
}
.section__about {
	.section__headline {
		text-align: left !important;
	}
}
