.nav__navbar {
  @include media-breakpoint-up(md) {
        height: 85px;
  }
  width: 100%;
  z-index: 20;
  padding: 15px 0;
  background: $dkblue;
  color: $white;
  
  .navbar-nav {
    display: block;
    position: relative;
    margin-top: 15px;
    background: $dkblue !important;
    .nav-item--dropdown:hover .dropdown-menu {
      display: none;
    }
    @include media-breakpoint-up(md) {
      position: relative;
      display: inherit;
      margin-top: 0;
      .dropdown-menu {
          border-radius: 0;
      }
      .nav-item--dropdown:hover .dropdown-menu {
        display: block !important;
        position: absolute;
        margin-top: 85px;
        top: -36px;
        padding: 0;
      }
      .dropdown-item {
        @include fontSmooth;
        text-decoration: none;
        cursor: pointer !important;
        text-transform: uppercase;
        font-size: .85em;
        letter-spacing: .05em;
        color: $dkblue !important;
        padding: 15px;
        font-weight: 600;
        &:active, &:hover {
          background: $ltgray;
        }
      }
    }
    #propertiesBtn, #careersBtn {
      position: relative;
    }
  }
  .navbar-toggler {
      border: 0;
      border-radius: 0;
  }
  .nav-link {
      display: block;
      padding: 1em !important;
      text-align: center;
      color: #fff !important;
      font-size: 1em;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      @include media-breakpoint-up(md) {
          display: inline-block;
          padding: 20px 0 15px 30px !important;
          font-size: .8em;
          letter-spacing: 1px;
      }
      &:hover {
          opacity: .5;
      }
  }
}
.navbar__logo {
    width: 150px;
    line-height: 0;
    padding-left: 15px;
    @include media-breakpoint-up(md) {
        width: 200px;
        padding-left: 0;
    }
}

#mainNav {
    position: fixed;
}

section#content {
    // padding-top: 68px;
    border-top: 68px solid $dkblue;
}

@include media-breakpoint-up(md) {
    section#content {
        // padding-top: 85px;
         border-top: 68px solid $dkblue;
    }
}

//headroom

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
