.section__portfolio {
	padding: 60px 0 0;
}
.portfolio__type-toggles {
	border: 1px solid $ltgray;
	margin: 0 4px 10px;
	padding: 0;
	.col-md-3 {
		max-width: 20%; // five categories, 20% each
		justify-content: center;
		display: flex;
		align-items: center;
	}
}
.portfolio__thumbnails {
	padding: 0;
	margin: 0;
}
.portfolio__type-toggles, .portfolio__thumbnails {
	list-style: none;
}
.portfolio__type {
	.dropdown-menu {
		padding: 0;
		border: 1px solid $ltgray;
		border-top: 0;
		border-radius: 0 !important;
		text-align: center;
		width: 100%;
		transform: translate3d(0, 39px, 0) !important;
	}
	.dropdown-item {
		@include fontSmooth;
		padding: 11px;
		color: $dkgray;
		font-size: .85em;
		text-decoration: none;
		letter-spacing: 0;
		border-top: 1px solid $ltgray;
		&:hover {
			background: $ltgray;
		}
	}
}
.portfolio__type-label {
	display: block;
	line-height: 1.5;
}
.portfolio__type > portfolio__type-label[aria-expanded="true"] {
	background: $ltgray;
}
.portfolio__type {
	@include fontSmooth;
	cursor: pointer;
	padding: 10px 5px;
	text-align: center;
	font-size: .9em;
	&:hover, &.active  {
		background: $ltgray;
	}
}
.portfolio__type--dropdown:hover .dropdown-menu {
	display: block !important;
	position: absolute;
	top: 20px;
	width: 100%;
		@include media-breakpoint-up(lg) {
			top: 0;
		}
}

.portfolio__thumbnails {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

}
.portfolio__thumbnail {
	flex-flow: column-reverse;
	cursor: pointer;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: center;
	background-color: $ltgray;
	margin-bottom: 1px;
	padding: 0 1px 0 0 !important;
	@include media-breakpoint-up(md) {
		margin-bottom: 10px;
		padding: 0 5px !important;
		height: 300px;
	}
}
.portfolio__thumbnail {
	display: none;
	&:hover .portfolio-thumbnail__text {
		height: 100%;
	}
}
.portfolio__thumbnail.visible {
	display: flex;
}
.portfolio-thumbnail__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80px;
	padding: 10px 0;
	@include fontSmooth;
	color: #fff;
	background-color: $tpdkblue;
	transition: height .3s;
}
.portfolio-thumbnail__name, .portfolio-thumbnail__place {
	display: block;
	padding: 0 10px 3px;
	font-size: .8em;
	line-height: 1.2;
}
.portfolio-thumbnail__name {
	@include boldCaps;
	font-weight: 700;
	@include media-breakpoint-up(md) {
		font-size: .9em;
	}
}
.portfolio-thumbnail__place {
	letter-spacing: .05em;
	padding-top: 3px;
}
.portfolio-thumbnail__status {
	padding: 5px 12px;
	font-size: .725em;
	line-height: 1.25;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: .05em;
	background: $gold;
	color: $white;
	position: absolute;
	max-width: 75%;
	top: 2em;
	right: 1px;
	@include media-breakpoint-up(md) {
		right: 5px;
	}
}
