.property--selected {
	position: relative;
	@include fontSmooth;
	text-align: left;
	padding: 0 0 0;
	font-size: 0;
	@include media-breakpoint-up(md) {
		padding: 0 5px 0;
	}
}
.property__award-badge {
	position: absolute;
	right: 10%;
	z-index: 2;
	width: 15%;
	max-width: 125px;
}
.property__featured-img {
	width: 100%;
	margin-bottom: 0;
	padding: 0;
}
.property__status {
	display: block;
	margin: 0 0 2rem 0;
	padding: .75em 1rem;
	font-size: 1rem;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	background: $dkblue;
}
#portfolio__grid {
	.collapsing {}
	.show {}
}
.portfolio__prev-button, .portfolio__next-button  {
	@include boldCaps;
	@include fontSmooth;
	float: right;
	color: $dkblue;
	font-size: 2rem;
	padding-right: 1rem;
	cursor: pointer;
}

.property__name {
	@include boldCaps;
	@include fontSmooth;
	margin: 0 0 .25em 0;
	font-size: 1.85rem;
	line-height: 1.2;
	letter-spacing: 0;
}
.property__specs {
	list-style: none;
	text-align: left;
	padding: 0 15px;
	font-size: 1rem;
	letter-spacing: .02rem;
	margin: 0;
	@include media-breakpoint-up(md) {
		padding: 0;
	}
}
.property__address {
	margin-bottom: .25em;
	font-family: $serif;
	color: $dkblue;
	text-transform: none;
	font-size: 1.25rem;
	display: block;
	font-weight: normal;
}
.property__type, .property__details {
		display: inline;
		text-transform: uppercase;
		font-size: .9rem;
}
.property__description {
	display: inline-block;
	font-size: .93rem;
	line-height: 1.75;
	margin: .5em 0 2.5em;
	@include media-breakpoint-up(lg) {
		font-size: 1rem;
	}
}
.property__phone, .property__website {
	@extend .prprty-type__cta;
	padding-top: 8px;
	margin: 1.5em 10px .5em 0;
	font-size: 1rem;
	line-height: 1.75;
	border: 1px solid $dkblue;
}
.property__phone  {
	background: #fff;
	color: $dkblue;
	&:hover {
		background: #fff;
		color: $dkblue;
	}
}
.property__website  {
	background: $dkblue;
	&:hover {
		border: 1px solid $gold;
	}
}
