.property--selected {
	@include fontSmooth;
	text-align: left;
	padding: 15px;
}
.property__featured-img {
	width: 100%;
	margin-bottom: 15px;
}
.property__name {
	@include boldCaps;
	margin: 0 0 15px 0;
	letter-spacing: 1px;
	font-size: 1.5em;
	line-height: 1;
}

.property__citystate, .property__address {
	margin: 0 0 .5em 0;
	font-size: 1.25em;
	line-height: 1;
	font-family: $serif;
	color: $dkblue;
	font-style: italic;
	display: block;
}
.property__specs {
	text-align: left;
	padding: 0;
	margin-bottom: 0;
}
.property__type, .property__status, .property__details {
		display: inline-block;
		list-style: none;
		font-size: .9em;
		text-transform: uppercase;
}
.property__description {
	display: inline-block;
	font-size: .9em;
	margin-bottom: 15px;
	@include media-breakpoint-up(lg) {
		font-size: 1em;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.25em;
	}	
}
.property__phone, .property__website {
	@extend .prprty-type__cta;
	padding-top: 8px;
	margin-right: 10px;
	line-height: 1.75;
	border: 1px solid $dkblue;
}
.property__phone  {
	background: #fff;
	color: $dkblue;
	&:hover {
		background: #fff;
		color: $dkblue;
	}
}
.property__website  {
	background: $dkblue;
}