.section__property-types {
	background-color: $ltgray;
}
.section__prprty-type {
	@media (min-width: $screen-md) {
		display: flex;
	}
}
.prprty-type__intro, .prprty-type__image {
	vertical-align: top;
	@media (min-width: $screen-md) {
		display: inline-block;
		width: 50%;
	}
}
.prprty-type__intro {
	padding: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: $ltgray;
	max-width: 800px;
	@include media-breakpoint-up(sm) {
		padding: 50px 80px;
	}
}
.prprty-type__image {
	flex: 1;
	min-height: 275px;
	max-width: 800px;
	margin: 0;
	background-color: $dkblue;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 100%;
	@include media-breakpoint-up(sm) {
		min-height: 400px;
	}
}
.prprty-type__intro--homes, .prprty-type__intro--industrial {
	@media (min-width: $screen-md) {
		display: flex;
		flex-direction: row-reverse;
	}
	background: $white;
	.prprty-type__intro { background: $white;}
}
.prprty-type__intro--apts {}
.prprty-type__intro--commercial {}
.prprty-type__intro--homes {}
.prprty-type__intro--industrial {}

.prprty-type__headline {
	@include fontSmooth;
	font-family: $serif;
	font-style: italic;
	font-size: 2.25em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
.prprty-type__description {
	@extend .intro__paragraph;
	margin-bottom: 30px;
	font-size: .9em ;
}
.prprty-type__cta {
  @extend .section__cta-button;
}
