.section__property-types {
}
.section__prprty-type {
	@media (min-width: $screen-md) {
		display: flex;
	}
}
.prprty-type__intro, .prprty-type__image {
	vertical-align: top;
	@media (min-width: $screen-md) {
		display: inline-block;
		width: 50%;
	}
}
.prprty-type__intro {
	padding: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: $ltgray;
	max-width: 860px;
	@include media-breakpoint-up(sm) {
		padding: 80px;
	}
}
.prprty-type__image {
	flex: 1;
	min-height: 275px;
	margin: 0;
	background-color: $dkblue;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 100%;
	@include media-breakpoint-up(sm) {
		min-height: 400px;
	}
}
.prprty-type__intro--homes, .prprty-type__intro--industrial {
	@media (min-width: $screen-md) {
		display: flex;
		flex-direction: row-reverse;
	}
}
.prprty-type__intro--apts {}
.prprty-type__intro--commercial {}
.prprty-type__intro--homes {}
.prprty-type__intro--industrial {}

.prprty-type__headline {
	@include fontSmooth;
	font-family: $serif;
	font-style: italic;
	font-size: 1.75em;
}
.prprty-type__description {
	@extend .intro__paragraph;
	margin-bottom: 30px;
}
.prprty-type__cta {
  @extend .section__cta-button;
}
