.section__slideshow {
	background-color: $dkblue;
	background-image: url(../img/slideshow-1_woodmont-cove-rendering.jpg);
	background-size: cover;
	background-position: center;
	padding: 3em 0;
	font-size: .95em;
	text-align: center;
	@include media-breakpoint-up(sm) {
		font-size: 1.5em;
		text-align: left;
	}
	@include media-breakpoint-up(lg) {
		font-size: 2em;
	}
	.carousel-indicators {
    bottom: -45px;
	}
	.carousel-control-prev, .carousel-control-next {
		width: 10% !important;
		opacity: 1;
	}
}
.slideshow__container {
	color: $white;	
}
.slideshow__text--bold {
	@include boldCaps;
}
.slideshow__text--italic {
	display: block;
	font-family: $serif;
	font-style: italic;
}
.slideshow__text {
	@include fontSmooth;
	letter-spacing: 1px;
	font-size: 2em;
	line-height: 1;
}
.slideshow__cta-button {
	@include boldCaps;
	@include fontSmooth;
	display: inline-block;
	width: 100%;
	padding: 2em;
	margin: 1em 1em 0 0;
	font-size: .75rem;
	line-height: 0;
	text-align: center;
	color: $dkblue;
	background: $white;
	@include media-breakpoint-up(sm) {
		width: auto;
		margin: 2em 1em 0 0;
		padding: 1.25em 2em;
		font-size: 1rem;
	}
}