.section__awards {
	margin-bottom: 150px;
	background: $white;
}
.awards__badges {
	margin: 1em auto 3em;
	padding-top: 2em;
	border-top: 1px solid $gray;
}
.awards__apply-cta {
  @extend .section__cta-button;
}
.awards__headline {
	@extend .prprty-type__headline;
}
.awards__subheading {
	@extend .award__community-name;
	font-size: 1em;
}
.section__awards-page {
	margin: 60px auto 100px;
}
.award__img-heading {
	position: relative;
	font-size: 0;
	margin: 0;
	padding: 0;
	&:hover .award__community-name:after {
		content: ' (Show Details)'
	}
	&:hover .award__community-name[aria-expanded="true"] {
		&:after {
			content: ' (Hide Details)'
		}
	}
}
.award__list-image, .award__community-name {
		width: 95%;
}
.award__community-name {
	@include boldCaps;
	@include fontSmooth;
	font-size: 1rem;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: $white;
	background: $dkblue;
	font-weight: 700;
	letter-spacing: .025em;
	line-height: 1.25;
	&:hover {
		cursor: pointer;
	}
	&:after {
		display: block;
		font-size: .8em;
		padding-top: 5px;
	}

}
.award__list {
	width: 95%;
	margin-top: 0;
	list-style: none;
	background-color: $ltgray;
}
.award__list--name {
	padding: 2em;
	margin-bottom: 2em;
}
.award__list-item {
	padding: 0 1em 1.25em 2em;
	font-family: $serif;
	font-style: italic;
  letter-spacing: .0125em;
	background-image: url(../img/icons/icon_award.svg);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: 0 5px;
}
.award__list-item .award__list--details  {
		list-style: circle;
		padding: 0;
		li {
			font-family: $sans;
			font-size: .85em;
			line-height: 1.2;
			font-style: normal;
			background: none;
			padding: 1.5em 0 0 .5em;
		}
}
.carousel--awards {
	margin: 2em 0;
}
.carousel--awards, .carousel--awards .carousel-inner, .carousel--awards .slideshow__container, .carousel--awards .carousel-control-prev, .carousel--awards .carousel-control-next, .carousel--awards .slideshow__text {
	height: 300px !important;
	@include media-breakpoint-up(md) {
		height: 500px !important;
	}
}
.carousel--awards .slideshow__text {
	display: flex;
	height: 250px !important;
	max-width: 500px;
	padding: 1em;
	width: 75%;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: $tpdkblue;
	font-size: 1rem;
	@include media-breakpoint-up(md) {
		font-size: 1.5rem
	}
}
.carousel--awards .slideshow__cta-button {
	box-shadow: none;
	width: 75%;
	line-height: 1;
	&:hover {
		background-color: $gold;
	}
}
.award-slider__award-name {
	margin-top: 1em;
	font-size: .8em;
	line-height: 1.25;
}
.carousel--awards .carousel-item {
	background-size: cover;
}
