/* Color */

$white: #fefefe;
$black: #1F232A;

$dkblue: 	#084560;
$dkgray:	#626366;


/* Typography */

$sans:		'Open Sans', sans-serif;
$serif:		'PT Serif', serif;

/* Screen Widths */

$screen-xs: 		28em;
$screen-sm: 		35em;
$screen-md: 		52em;
$screen-lg: 		60em;