/* Color */

$white: #fefefe;
$black: #1F232A;

$tpdkblue: rgba(17,68,107,.7); 
$dkblue: 	#084560;
$dkgray:	#626366;
$gray:	#999;

/* Typography */

$sans:		'Open Sans', sans-serif;
$serif:		'PT Serif', serif;

/* Screen Widths */

$screen-xs: 		28em;
$screen-sm: 		35em;
$screen-md: 		52em;
$screen-lg: 		60em;