/* Color */

$white:   #fefefe;
$black:   #1F232A;
$gold:    #C5B358;
$tpdkblue: rgba(17,68,107,.8);
$dkblue: 	 #084560;
$dkgray:	 #626366;
$gray:		 #999;
$ltgray:	 #ededed;

/* Typography */

$sans:		'Open Sans', sans-serif;
$serif:		'PT Serif', serif;

/* Screen Widths */

$screen-xs: 		28em;  //  448px
$screen-sm: 		35em;	 //  560px
$screen-md: 		52em;	 //  832px
$screen-lg: 		60em;	 //  960px
$screen-xl: 		100em; // 1600px
