{% extends "base.twig" %}

{% block content %}

<header class="section__hero" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')">
  <h1 class="hero__headline container">Awards</h1>
</header>
<section class="section__awards-page container">

  <p class="intro__paragraph">Woodmont Properties is consistently recognized for its creativity in designing best-in-class luxury homes and luxury apartment communities – a testament to the company’s commitment to excellence. Over the past decade, Woodmont has been recognized for its innovative design, marketing initiatives and project management with nearly 100 awards from leading industry organizations.</p>

  <p class="intro__paragraph">In the past two years, Woodmont received 50 awards, including the coveted Smart Growth Award from New Jersey Future for Woodmont Metro at Metuchen Station. For the last seven years, Woodmont has also been honored each year with the “Community of the Year” award from industry associations.</p>

  <h2 class="section__headline">Luxury Apartment Awards</h2>
  <div class="row">
    <span class="col col-sm-6">
      <h3 class="award__community-name">Woodmont West at Mt. Arlington</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 New Jersey Builders Association Sales and Marketing Awards (SAM)
          <ul class="award__list award__list--details">
            <li class="award__list-item">Best Outdoor Living Space/Amenities for an Attached Community</li>
            <li class="award__list-item">Best Interior Design/Merchandising for a Clubhouse</li>
            <li class="award__list-item">Best Landscaping Design for a Rental Community</li>
            <li class="award__list-item">Best Brochure for a Rental Community</li>
            <li class="award__list-item">Project Manager of the Year / Mark Johnston</li>
          </ul>
        </li>
        <li class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence
          <ul class="award__list award__list--details">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Rental Community/Under $2500 per month</li>
            <li class="award__list-item">Best Community Model Home/Rental Housing Under $2500 per month</li>
            <li class="award__list-item">Best Clubhouse for a Community</li>
            <li class="award__list-item">Best Specialty Feature Room for a Community/ Indoor Golf Center</li>
            <li class="award__list-item">Best Landscaping for a Community</li>
            <li class="award__list-item">Best Website for a Community</li>
            <li class="award__list-item">Best Special Promotion for a Community</li>
            <li class="award__list-item">Best Signage for a Community</li>
            <li class="award__list-item">Best Community Sales Presentation Video</li>
            <li class="award__list-item">Leasing Consultant Team of the Year</li>
            <li class="award__list-item">Project Manager of the Year / Mark Johnston</li>
          </ul>
        </li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards - TBA</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name">Woodmont Ridge at Upper Macungie</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</li>
      </ul>
      <h3 class="award__community-name">Woodmont Station at Cranford</h3>
      <ul class="award__list">
        <li class="award__list-item">2016 New Jersey Builders Association Sales and Marketing Awards (SAM)</li>
        <li class="award__list-item">2016 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name">West Side Lofts at Red Bank</h3>
      <ul class="award__list">
        <li class="award__list-item">2016 New Jersey Builders Association Sales and Marketing Awards (SAM)</li>
        <li class="award__list-item">2015 New Jersey Builders Association Sales and Marketing Awards (SAM)</li>
        <li class="award__list-item">2016 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
      </ul>
    </span>
    <span class="col col-sm-6">
      <h3 class="award__community-name">Woodmont Knolls at Hanover</h3>
      <ul class="award__list">
        <li class="award__list-item">2015 New Jersey Builders Association Sales and Marketing Awards (SAM)</li>
        <li class="award__list-item">2014 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name">Woodmont Square at Bridgewater</h3>
      <ul class="award__list">
        <li class="award__list-item">2013 New Jersey Builders Association Sales and Marketing Awards (SAM)</li>
        <li class="award__list-item">2013 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards – TBA</li>
      </ul>
      <h3 class="award__community-name">Woodmont Place at Palmer</h3>
      <ul class="award__list">
        <li class="award__list-item">2012 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2016 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</li>
      </ul>
      <h3 class="award__community-name">Woodmont Mews at Bethlehem</h3>
      <ul class="award__list">
        <li class="award__list-item">2009 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2016 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2016 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</li>
      <ul class="award__list">
    </span>
  </div>
  <h2 class="section__headline">Luxury Home Awards</h2>
  <div class="row">

  </div>
</section>
{% endblock content %}
