{% extends "base.twig" %}

{% block content %}

	<section class="section__slideshow">
		{% include "homepage/slideshow.twig" %}
	</section>
	<div class="container">
		 {% include "homepage/intro.twig" %}
	</div>
	<section class="section__our-company" id="our-company">
		{% include "homepage/about.twig" %}
	</section>
	<section class="section__staff-grid" id="leadership">
			{% include "homepage/staff-grid.twig" %}
	</section>
	<section class="section__property-types">
		{% include "homepage/property-types.twig" %}
	</section>
	<section class="section__portfolio" id="portfolio">
			{% include "homepage/portfolio.twig" %}
	</section>
	<section class="section__awards" id="awards">
			{% include "homepage/awards.twig" %}
	</section>
	<section class="section__news" id="news">
			{% include "homepage/news.twig" %}
	</section>
	<section class="section__careers" id="careers">
			{% include "homepage/careers.twig" %}
	</section>

{% endblock %}
