{% extends "base.twig" %}

{% block content %}
	<section class="section__slideshow">
		{% include "partials/slideshow.twig" %}
	</section>
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
			<section class="section__staff-grid" style="clear:both;margin-bottom:100px">
				<h2 class="section__headline">Who We Are</h2>
				{% include "partials/staff-grid.twig" %}
			</section>			
			<section class="section__staff" style="clear:both;margin-bottom:100px">
				<h2 class="section__headline">Who We Are</h2>
				{% include "partials/staff.twig" %}
			</section>
			
			<section class="section__properties" style="clear:both;margin-bottom:100px">
				<h2 class="section__headline">Properties</h2>
				{% include "partials/properties.twig" %}
			</section>
		</article>
				{% include "grid.twig" %}
	</div>
{% endblock %}