{% extends "base.twig" %}

{% block content %}

	<section class="section__slideshow">
		{% include "partials/slideshow.twig" %}
	</section>
	<section class="section__careers container">
			<h2 class="section__headline">Careers</h2>
			{% for job in careers %}
				<article class="career__post">
					<h2 class="career__title">{{ job.title }}</h2>
					<p>{{ job.content }}</p>
					<h3 class="career__subheading">Education / Experience:</h3>
					<p class="">{{ job.experience }}</p>
					<a class="career__apply-cta" href="{{ job.post_title|replace({'.': "",' ': '-',',': ""})|lower}}">Apply Now</a>
				</article>
			{% endfor %}
	</section>
	<section class="section__contact">
			{% include "partials/contact.twig" %}
	</section>

{% endblock %}
