{% extends "subpage-base.twig" %}

{% block content %}

<header class="section__hero" id="awards-page-header">
  <h1 class="hero__headline container">Awards</h1>
</header>
<section class="section__awards-page container">
  <img class="awards__badges" src="{{theme.path}}/assets/img/woodmont-award-badges.png" style="border:none;padding:0">
  <h2 class="awards__headline">Luxury Apartment Awards</h2>
  <div class="row">
    <span class="col col-sm-6">
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontMetroAwardDetails1, #WoodmontWestAwardDetails2" aria-expanded="false" aria-controls="AwardDetails">Woodmont Metro at Metuchen Station</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 New Jersey Apartment Association
          <ul class="award__list award__list--details collapse" id="WoodmontMetroAwardDetails1">
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Best Property Website</li>
            <li class="award__list-item">Leasing Professional of the Year / Tanya Roper</li>
            <li class="award__list-item">Maintenance Supervisor of the Year / James Guiendon</li>
            <li class="award__list-item">Groundskeeper/Porter of the Year / Greg Quinones</li>
          </ul>
        </li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontWestAwardDetails0, #WoodmontWestAwardDetails1, #WoodmontWestAwardDetails2" aria-expanded="false" aria-controls="AwardDetails">Woodmont West at Mt. Arlington</h3>
      <ul class="award__list">

        <li class="award__list-item">2017	New Jersey Apartment Association
          <ul class="award__list award__list--details collapse" id="WoodmontWestAwardDetails0">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Best Property Website</li>
            <li class="award__list-item">Assistant Community Manager of the Year / Robin Gilfilla</li>
          </ul>
        </li>
        <li class="award__list-item">2017 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details collapse" id="WoodmontWestAwardDetails1">
            <li class="award__list-item">Best Outdoor Living Space/Amenities for an Attached Community</li>
            <li class="award__list-item">Best Interior Design/Merchandising for a Clubhouse</li>
            <li class="award__list-item">Best Landscaping Design for a Rental Community</li>
            <li class="award__list-item">Best Brochure for a Rental Community</li>
            <li class="award__list-item">Project Manager of the Year / Mark Johnston</li>
          </ul>
        </li>
        <li class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontWestAwardDetails2">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Rental Community/Under $2500 per month</li>
            <li class="award__list-item">Best Community Model Home/Rental Housing Under $2500 per month</li>
            <li class="award__list-item">Best Clubhouse for a Community</li>
            <li class="award__list-item">Best Specialty Feature Room for a Community/ Indoor Golf Center</li>
            <li class="award__list-item">Best Landscaping for a Community</li>
            <li class="award__list-item">Best Website for a Community</li>
            <li class="award__list-item">Best Special Promotion for a Community</li>
            <li class="award__list-item">Best Signage for a Community</li>
            <li class="award__list-item">Best Community Sales Presentation Video</li>
            <li class="award__list-item">Leasing Consultant Team of the Year</li>
            <li class="award__list-item">Project Manager of the Year / Mark Johnston</li>
          </ul>
        </li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontRidgetAwardDetails1, #WoodmontRidgetAwardDetails2" aria-expanded="false" aria-controls="AwardDetails">Woodmont Ridge at Upper Macungie</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontRidgetAwardDetails1">
            <li class="award__list-item">Best Billboard Ad for a Community</li>
            <li class="award__list-item">Best Direct Mail Piece for a Community</li>
            <li class="award__list-item">Leasing Consultant of the Year / Carolyn Marino</li>
          </ul>
        </li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontRidgetAwardDetails2">
            <li class="award__list-item">Leasing & Marketing Excellence</li>
            <li class="award__list-item">Overall Excellence</li>
            <li class="award__list-item">Curb Appeal Excellence</li>
            <li class="award__list-item">Maintenance Excellence</li>
            <li class="award__list-item">Maintenance Team Excellence</li>
            <li class="award__list-item">Maintenance Supervisor of the Year</li>
          </ul>
        </li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontStationAwardDetails0, #WoodmontStationAwardDetails1, #WoodmontStationAwardDetails2, #WoodmontStationAwardDetails3, #WoodmontStationAwardDetails4" aria-expanded="false" aria-controls="AwardDetails">Woodmont Station at Cranford</h3>
      <ul class="award__list">
        <li class="award__list-item">2017	New Jersey Apartment Association
          <ul class="award__list award__list--details collapse" id="WoodmontStationAwardDetails0">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Maintenance Technician of the Year / David Virzi, Woodmont Station</li>
          </ul>
        </li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA
        <li class="award__list-item">2016 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details collapse" id="WoodmontStationAwardDetails1">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Clubhouse/Recreation Amenities in a Rental Community</li>
            <li class="award__list-item">Best Interior Merchandising for a Public Space</li>
            <li class="award__list-item">Best Sales Office for a Rental Community</li>
            <li class="award__list-item">Best E-Brochure for a Community</li>
          </ul>
        </li>
        <li class="award__list-item">2016 Metropolitan Builders & Contractors Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontStationAwardDetails2">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Rental Community/Over $2000 per month</li>
            <li class="award__list-item">Best Community Model Home/Rental Housing Under $2500 per month</li>
            <li class="award__list-item">Best Clubhouse for a Community</li>
            <li class="award__list-item">Best Specialty Feature Room for a Community / Game Room</li>
            <li class="award__list-item">Best Sales Office for a Community</li>
            <li class="award__list-item">Best Logo for a Community</li>
            <li class="award__list-item">Best Website for a Community</li>
            <li class="award__list-item">Leasing Team of the Year</li>
            <li class="award__list-item">Project Manager of the Year / David Gallagher</li>
          </ul>
        </li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WoodmontStationAwardDetails3">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Maintenance Supervisor of the Year / James Guiendon</li>
            <li class="award__list-item">Groundskeeper/Porter / David Virzi</li>
            <li class="award__list-item">Industry Rookie of the Year / James Charlot</li>
          </ul>
        </li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WoodmontStationAwardDetails4">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Best Property Website</li>
            <li class="award__list-item">Maintenance Supervisor of the Year/James Guiendon </li>
          </ul>
        </li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WestSideLoftsAwardDetails0, #WestSideLoftsAwardDetails1, #WestSideLoftsAwardDetails2, #WestSideLoftsAwardDetails3, #WestSideLoftsAwardDetails4" aria-expanded="false" aria-controls="AwardDetails">West Side Lofts at Red Bank</h3>
        <ul class="award__list">
          <li class="award__list-item">2017	New Jersey Apartment Association
            <ul class="award__list award__list--details collapse" id="WestSideLoftsAwardDetails0">
              <li class="award__list-item">Best Curb Appeal</li>
              <li class="award__list-item">Best Property Website</li>
              <li class="award__list-item">Maintenance Technician of the Year / Scott Varanelli</li>
          </ul>
        </li>
        <li class="award__list-item">2016 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details collapse" id="WestSideLoftsAwardDetails1">
            <li class="award__list-item">Best Home with an Average Base Rent Over $2000</li>
            <li class="award__list-item">Best Interior Merchandising for a Public Space</li>
            <li class="award__list-item">Best Interior Merchandising for a Rental Community</li>
            <li class="award__list-item">Best Landscaping Design for a Rental Community</li>
            <li class="award__list-item">Best Logo Design for a Rental Community</li>
            <li class="award__list-item">Best Website</li>
            <li class="award__list-item">Best Special Promotion</li>
            <li class="award__list-item">Best Color Ad – Over One-half page</li>
          </ul>
        </li>
        <li class="award__list-item">2016 Metropolitan Builders & Contractors Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WestSideLoftsAwardDetails2">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Multi-Family Mid/High Rise Housing – Mixed Use </li>
            <li class="award__list-item">Best Mixed-Use Housing Community – Product Design</li>
            <li class="award__list-item">Best Community Model Home/Rental Housing</li>
            <li class="award__list-item">Best Clubhouse for a Community</li>
            <li class="award__list-item">Best Landscaping</li>
            <li class="award__list-item">Best Color Ad</li>
            <li class="award__list-item">Best Signage</li>
            <li class="award__list-item">Best Community Sales Presentation Video</li>
            <li class="award__list-item">Best Special Event</li>
            <li class="award__list-item">Best Community Brochure</li>
          </ul>
        </li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WestSideLoftsAwardDetails3">
            <li class="award__list-item">Best Interior Merchandising for a Rental Community</li>
            <li class="award__list-item">Best Logo Design for a Rental Community</li>
            <li class="award__list-item">Best Brochure for a Rental Community</li>
            <li class="award__list-item">Best Color Ad – Over One-half page</li>
            <li class="award__list-item">Best On-line Video</li>
            <li class="award__list-item">Best Sales Office for a Rental Community</li>
          </ul>
        </li>
        <li class="award__list-item">2015 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details collapse" id="WestSideLoftsAwardDetails4">
            <li class="award__list-item">Best Property Website</li>
          </ul>
        </li>
      </ul>
    </span>
    <span class="col col-sm-6">
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontKnollsAwardDetails1, #WoodmontKnollsAwardDetails2, #WoodmontKnollsAwardDetails3, #WoodmontKnollsAwardDetails4" aria-expanded="false" aria-controls="AwardDetails">Woodmont Knolls at Hanover</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WoodmontKnollsAwardDetails1">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Maintenance Technician / Scott Varanelli</li>
            <li class="award__list-item">Groundskeeper/Porter / Carlos Romero</li>
          </ul>
        </li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WoodmontKnollsAwardDetails2">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Best Property Website</li>
          </ul>
        </li>
        <li class="award__list-item">2015 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details collapse" id="WoodmontKnollsAwardDetails3">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Home with Rent over $2000</li>
            <li class="award__list-item">Best Clubhouse/Recreation Amenities in a Rental Community</li>
            <li class="award__list-item">Best Marketing Strategy for a Rental Community</li>
          </ul>
        </li>
        <li class="award__list-item">2014 Community Builders & Remodelers Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontKnollsAwardDetails4">
            <li class="award__list-item">Best Product Design/Rent over $2000 per month</li>
            <li class="award__list-item">Best Website</li>
            <li class="award__list-item">Project Manager of the Year / Anthony Sarcone</li>
          </ul>
        </li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontSquareAwardDetails0, #WoodmontSquareAwardDetails1, #WoodmontSquareAwardDetails2, #WoodmontSquareAwardDetails3, #WoodmontSquareAwardDetails4" aria-expanded="false" aria-controls="AwardDetails">Woodmont Square at Bridgewater</h3>
      <ul class="award__list">
        <li class="award__list-item">2017	New Jersey Apartment Association
          <ul class="award__list award__list--details collapse" id="WoodmontSquareAwardDetails0">
            <li class="award__list-item">Best Property Website</li>
            <li class="award__list-item">Maintenance Technician of the Year / Scott Varanelli</li>
        </ul>
      </li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards – TBA</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WoodmontSquareAwardDetails1">
            <li class="award__list-item">Assistant Property Manager / Karen Kubinak</li>
          </ul>
        </li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards
          <ul class="award__list award__list--details collapse" id="WoodmontSquareAwardDetails2">
            <li class="award__list-item">Excellence in Property Management</li>
            <li class="award__list-item">Best Curb Appeal</li>
            <li class="award__list-item">Best Property Website</li>
          </ul>
        </li>
        <li class="award__list-item">2013 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details collapse" id="WoodmontSquareAwardDetails3">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Marketing Strategy for a Rental Community</li>
            <li class="award__list-item">Best Interior Merchandising for a Rental Community Over $2000</li>
            <li class="award__list-item">Best Interior Merchandising for a Clubhouse in a Rental Community</li>
            <li class="award__list-item">Best Home with Rent over $2000</li>
            <li class="award__list-item">Best Sales Office for a Rental Community</li>
            <li class="award__list-item">Best Landscaping for a Rental Community</li>
            <li class="award__list-item">Best Signage for a Rental Community</li>
            <li class="award__list-item">Best Logo for a Rental Community</li>
            <li class="award__list-item">Best Brochure for a Rental Community</li>
            <li class="award__list-item">Best Website</li>
          </ul>
        </li>
        <li class="award__list-item">2013 Community Builders & Remodelers Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontSquareAwardDetails4">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Rental Community/Over $2000 per month</li>
            <li class="award__list-item">Best Logo for a Community</li>
            <li class="award__list-item">Best Signage for a Community</li>
          </ul>
        </li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontPalmerAwardDetails1, #WoodmontPalmerAwardDetails2, #WoodmontPalmerAwardDetails3, #WoodmontPalmerAwardDetails4" aria-expanded="false" aria-controls="AwardDetails">Woodmont Place at Palmer</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontPalmerAwardDetails1">
            <li class="award__list-item">Overall Excellence</li>
            <li class="award__list-item">Curb Appeal Excellence</li>
            <li class="award__list-item">Maintenance Excellence</li>
          </ul>
        </li>
        <li class="award__list-item">2016 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontPalmerAwardDetails2">
            <li class="award__list-item">Leasing/Marketing Excellence</li>
          </ul>
        </li>
        <li class="award__list-item">2015 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontPalmerAwardDetails3">
            <li class="award__list-item">Maintenance Excellence</li>
            <li class="award__list-item">Curb Appeal Excellence</li>
            <li class="award__list-item">Service Supervisor of the Year/Eddie Belen</li>
          </ul>
        </li>
        <li class="award__list-item">2012 Community Builders & Remodelers Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontPalmerAwardDetails4">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Rental Community/Under $2000 per month</li>
            <li class="award__list-item">Best Logo for a Community</li>
            <li class="award__list-item">Best Signage for a Community</li>
            <li class="award__list-item">Best Billboard Ad</li>
            <li class="award__list-item">Best Direct Mail Piece </li>
            <li class="award__list-item">Best Website</li>
          </ul>
        </li>
      </ul>
      <h3 class="award__community-name" data-toggle="collapse" href="#WoodmontMewsAwardDetails1, #WoodmontMewsAwardDetails2, #WoodmontMewsAwardDetails3, #WoodmontMewsAwardDetails4, #WoodmontMewsAwardDetails5" aria-expanded="false" aria-controls="AwardDetails">Woodmont Mews at Bethlehem</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontMewsAwardDetails1">
            <li class="award__list-item">Leasing Marketing Excellence</li>
            <li class="award__list-item">Overall Excellence</li>
            <li class="award__list-item">Curb Appeal</li>
            <li class="award__list-item">Maintenance Excellence</li>
          </ul>
        </li>
        <li class="award__list-item">2016 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontMewsAwardDetails2">
            <li class="award__list-item">Leasing/Marketing Excellence</li>
            <li class="award__list-item">Curb Appeal Excellence</li>
          </ul>
        </li>
        <li class="award__list-item">2016 Community Builders & Remodelers Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontMewsAwardDetails3">
            <li class="award__list-item">Leasing Consultant of the Year / Gloria Obermuller</li>
          </ul>
        </li>
        <li class="award__list-item">2015 Pennsylvania Apartment Association Best of Living Awards
          <ul class="award__list award__list--details collapse" id="WoodmontMewsAwardDetails4">
            <li class="award__list-item">Leasing/Marketing Excellence</li>
            <li class="award__list-item">Leasing professional / Gloria Obermuller</li>
          </ul>
        </li>
        <li class="award__list-item">2009 Community Builders & Remodelers Association of NJ Awards of Excellence
          <ul class="award__list award__list--details collapse" id="WoodmontMewsAwardDetails5">
            <li class="award__list-item">Best Clubhouse in a Community</li>
          </ul>
        </li>
      </ul>
    </span>
  </div>
  <h2 class="awards__headline">Luxury Home Awards</h2>
  <div class="row">
    <span class="col col-sm-6">
      <h3 class="award__community-name" data-toggle="collapse" href="#SaddleRiverAwardDetails1, #SaddleRiverAwardDetails2" aria-expanded="false" aria-controls="AwardDetails">Saddle River Grand</h3>
        <ul class="award__list">
          <li class="award__list-item">2013	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details collapse" id="SaddleRiverAwardDetails1">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Attached Community Over $350,000</li>
              <li class="award__list-item">Best Attached Home Over $350,000</li>
              <li class="award__list-item">Best Interior Merchandising for a Clubhouse</li>
              <li class="award__list-item">Best Clubhouse/Recreation Amenities in a Community</li>
              <li class="award__list-item">Best Sales Office</li>
              <li class="award__list-item">Best Color Ad One-Half Page</li>
              <li class="award__list-item">Best Special Promotion for a Community</li>
              <li class="award__list-item">Sales Team of the Year</li>
            </ul>
          </li>
          <li class="award__list-item">2013	Community Builders & Remodelers Association of NJ Awards of Excellence
            <ul class="award__list award__list--details collapse" id="SaddleRiverAwardDetails2">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Best Attached Home of the Year</li>
              <li class="award__list-item">Best Attached Home over $500,000</li>
              <li class="award__list-item">Best Clubhouse for a Community</li>
              <li class="award__list-item">Best Website</li>
              <li class="award__list-item">2014	- Project Superintendent of the Year / Steven Klenk</li>
              <li class="award__list-item">2014	NAHB Gold Achievement Award</li>
              <li class="award__list-item">Best of 50+ Housing</li>
            </ul>
          </li>
        </ul>
        <h3 class="award__community-name" data-toggle="collapse" href="#TheEnclaveAwardDetails1, #TheEnclaveAwardDetails2, #TheEnclaveAwardDetails3, #TheEnclaveAwardDetails4" aria-expanded="false" aria-controls="AwardDetails">The Enclave at Montvale</h3>
        <ul class="award__list">
          <li class="award__list-item">2011	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details collapse" id="TheEnclaveAwardDetails1">
              <li class="award__list-item">Best interior Merchandising for an Attached Community</li>
            </ul>
          </li>
          <li class="award__list-item">2011	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details collapse" id="TheEnclaveAwardDetails2">
              <li class="award__list-item">Best Community Brochure</li>
              <li class="award__list-item">Best Community Logo</li>
              <li class="award__list-item">Best Direct Mail Piece</li>
              <li class="award__list-item">Best Color Ad for a community</li>
              <li class="award__list-item">Best Merchandised Model Home Over $750,000</li>
              <li class="award__list-item">Best Attached Home Over $400,000</li>
              <li class="award__list-item">Best Web Site</li>
            </ul>
          </li>
          <li class="award__list-item">2010	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details collapse" id="TheEnclaveAwardDetails3">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Best Attached Home of the Year</li>
              <li class="award__list-item">Best Color Ad for a Community</li>
              <li class="award__list-item">Best Brochure for a Community</li>
              <li class="award__list-item">Best Logo for a Community</li>
            </ul>
          </li>
          <li class="award__list-item">2009	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details collapse" id="TheEnclaveAwardDetails4">
              <li class="award__list-item">Best Attached Home Over $400,000</li>
              <li class="award__list-item">Best Website</li>
            </ul>
          </li>
        </ul>
      </span>
      <span class="col col-sm-6">
        <h3 class="award__community-name" data-toggle="collapse" href="#40ParkAwardDetails1, #40ParkAwardDetails2, #40ParkAwardDetails3" aria-expanded="false" aria-controls="AwardDetails">40 Park</h3>
        <ul class="award__list">
          <li class="award__list-item">2011	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details collapse" id="40ParkAwardDetails1">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Mid-Rise/High-Rise Community Over $350,000</li>
              <li class="award__list-item">Best Marketing Strategy for an Attached Community</li>
              <li class="award__list-item">Best Mid-Rise/High-Rise Community Over $350,000</li>
              <li class="award__list-item">Best Commercial Building – Mixed Use</li>
              <li class="award__list-item">Best Landscaping Design</li>
              <li class="award__list-item">Best Signage Program</li>
              <li class="award__list-item">Best Logo Design</li>
              <li class="award__list-item">Best Brochure</li>
              <li class="award__list-item">Best Color Newspaper Ad over one-half page</li>
              <li class="award__list-item">Best TV Commercial</li>
              <li class="award__list-item">Best Web Site</li>
              <li class="award__list-item">Best Special Promotion for a Community</li>
              <li class="award__list-item">Project Superintendent of the Year/John Dickinson</li>
            </ul>
          </li>
          <li class="award__list-item">2011	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details collapse" id="40ParkAwardDetails2">
              <li class="award__list-item">Best Commercial Building – Mixed-Use</li>
              <li class="award__list-item">Best Merchandised Model Home over $750,000</li>
              <li class="award__list-item">Best Specialty Feature Room</li>
              <li class="award__list-item">Best Direct Mail Piece for a Community</li>
              <li class="award__list-item">Best Sales Video a Community</li>
              <li class="award__list-item">Sales Team of the Year</li>
            </ul>
          </li>
          <li class="award__list-item">2010	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details collapse" id="40ParkAwardDetails3">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Multi-Family Mid/High Rise</li>
              <li class="award__list-item">Best Multi-Family Housing Over $500,000</li>
              <li class="award__list-item">Best Community Brochure</li>
              <li class="award__list-item">Best Community Website</li>
              <li class="award__list-item">Best Community Special Event promotion</li>
              <li class="award__list-item">Best Community Signage</li>
            </ul>
          </li>
          <li class="award__list-item">2007	New Jersey Future Smart Growth Award</li>
        </ul>
      </span>
    </div>
</section>
{% endblock content %}
