{% extends "base.twig" %}

{% block content %}

<header class="section__hero" style="background-image:url('{{theme.path}}/assets/img/header-image_properties.jpg')">
  <h1 class="hero__headline container">Awards</h1>
</header>
<section class="section__awards-page container">

  <h2 class="awards__headline">Luxury Apartment Awards</h2>
  <div class="row">
    <span class="col col-sm-6">
      <h3 class="award__community-name">Woodmont West at Mt. Arlington</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
          <ul class="award__list award__list--details">
            <li class="award__list-item">Best Outdoor Living Space/Amenities for an Attached Community</li>
            <li class="award__list-item">Best Interior Design/Merchandising for a Clubhouse</li>
            <li class="award__list-item">Best Landscaping Design for a Rental Community</li>
            <li class="award__list-item">Best Brochure for a Rental Community</li>
            <li class="award__list-item">Project Manager of the Year / Mark Johnston</li>
          </ul>
        </li>
        <li class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence
          <ul class="award__list award__list--details">
            <li class="award__list-item">COMMUNITY OF THE YEAR – Best Rental Community</li>
            <li class="award__list-item">Best Rental Community/Under $2500 per month</li>
            <li class="award__list-item">Best Community Model Home/Rental Housing Under $2500 per month</li>
            <li class="award__list-item">Best Clubhouse for a Community</li>
            <li class="award__list-item">Best Specialty Feature Room for a Community/ Indoor Golf Center</li>
            <li class="award__list-item">Best Landscaping for a Community</li>
            <li class="award__list-item">Best Website for a Community</li>
            <li class="award__list-item">Best Special Promotion for a Community</li>
            <li class="award__list-item">Best Signage for a Community</li>
            <li class="award__list-item">Best Community Sales Presentation Video</li>
            <li class="award__list-item">Leasing Consultant Team of the Year</li>
            <li class="award__list-item">Project Manager of the Year / Mark Johnston</li>
          </ul>
        </li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards - TBA</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name">Woodmont Ridge at Upper Macungie</h3>
      <ul class="award__list">
        <li class="award__list-item">2017 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</li>
      </ul>
      <h3 class="award__community-name">Woodmont Station at Cranford</h3>
      <ul class="award__list">
        <li class="award__list-item">2016 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)</li>
        <li class="award__list-item">2016 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name">West Side Lofts at Red Bank</h3>
      <ul class="award__list">
        <li class="award__list-item">2016 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)</li>
        <li class="award__list-item">2015 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)</li>
        <li class="award__list-item">2016 Metropolitan Builders & Contractors Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
      </ul>
    </span>
    <span class="col col-sm-6">
      <h3 class="award__community-name">Woodmont Knolls at Hanover</h3>
      <ul class="award__list">
        <li class="award__list-item">2015 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)</li>
        <li class="award__list-item">2014 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards - TBA</li>
      </ul>
      <h3 class="award__community-name">Woodmont Square at Bridgewater</h3>
      <ul class="award__list">
        <li class="award__list-item">2013 New Jersey Builders Association Sales &amp; Marketing Awards (SAM)</li>
        <li class="award__list-item">2013 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2016 New Jersey Apartment Association Garden State Awards</li>
        <li class="award__list-item">2017 New Jersey Apartment Association Garden State Awards – TBA</li>
      </ul>
      <h3 class="award__community-name">Woodmont Place at Palmer</h3>
      <ul class="award__list">
        <li class="award__list-item">2012 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2016 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</li>
      </ul>
      <h3 class="award__community-name">Woodmont Mews at Bethlehem</h3>
      <ul class="award__list">
        <li class="award__list-item">2009 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2016 Community Builders & Remodelers Association of NJ Awards of Excellence</li>
        <li class="award__list-item">2015 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2016 Pennsylvania Apartment Association Best of Living Awards</li>
        <li class="award__list-item">2017 Pennsylvania Apartment Association Best of Living Awards</li>
      </ul>
    </span>
  </div>
  <h2 class="awards__headline">Luxury Home Awards</h2>
  <div class="row">
    <span class="col col-sm-6">
      <h3 class="award__community-name">Saddle River Grand</h3>
        <ul class="award__list">
          <li class="award__list-item">2013	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Attached Community Over $350,000</li>
              <li class="award__list-item">Best Attached Home Over $350,000</li>
              <li class="award__list-item">Best Interior Merchandising for a Clubhouse</li>
              <li class="award__list-item">Best Clubhouse/Recreation Amenities in a Community</li>
              <li class="award__list-item">Best Sales Office</li>
              <li class="award__list-item">Best Color Ad One-Half Page</li>
              <li class="award__list-item">Best Special Promotion for a Community</li>
              <li class="award__list-item">Sales Team of the Year</li>
            </ul>
          </li>
          <li class="award__list-item">2013	Community Builders & Remodelers Association of NJ Awards of Excellence
            <ul class="award__list award__list--details">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Best Attached Home of the Year</li>
              <li class="award__list-item">Best Attached Home over $500,000</li>
              <li class="award__list-item">Best Clubhouse for a Community</li>
              <li class="award__list-item">Best Website</li>
              <li class="award__list-item">2014	- Project Superintendent of the Year / Steven Klenk</li>
              <li class="award__list-item">2014	NAHB Gold Achievement Award</li>
              <li class="award__list-item">Best of 50+ Housing</li>
            </ul>
          </li>
        </ul>
        <h3 class="award__community-name">The Enclave at Montvale</h3>
        <ul class="award__list">
          <li class="award__list-item">2011	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details">
              <li class="award__list-item">Best interior Merchandising for an Attached Community</li>
            </ul>
          </li>
          <li class="award__list-item">2011	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details">
              <li class="award__list-item">Best Community Brochure</li>
              <li class="award__list-item">Best Community Logo</li>
              <li class="award__list-item">Best Direct Mail Piece</li>
              <li class="award__list-item">Best Color Ad for a community</li>
              <li class="award__list-item">Best Merchandised Model Home Over $750,000</li>
              <li class="award__list-item">Best Attached Home Over $400,000</li>
              <li class="award__list-item">Best Web Site</li>
            </ul>
          </li>
          <li class="award__list-item">2010	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Best Attached Home of the Year</li>
              <li class="award__list-item">Best Color Ad for a Community</li>
              <li class="award__list-item">Best Brochure for a Community</li>
              <li class="award__list-item">Best Logo for a Community</li>
            </ul>
          </li>
          <li class="award__list-item">2009	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details">
              <li class="award__list-item">Best Attached Home Over $400,000</li>
              <li class="award__list-item">Best Website</li>
            </ul>
          </li>
        </ul>
      </span>
      <span class="col col-sm-6">
        <h3 class="award__community-name">40 Park</h3>
        <ul class="award__list">
          <li class="award__list-item">2011	New Jersey Builders Association Sales &amp; Marketing Awards (SAM)
            <ul class="award__list award__list--details">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Mid-Rise/High-Rise Community Over $350,000</li>
              <li class="award__list-item">Best Marketing Strategy for an Attached Community</li>
              <li class="award__list-item">Best Mid-Rise/High-Rise Community Over $350,000</li>
              <li class="award__list-item">Best Commercial Building – Mixed Use</li>
              <li class="award__list-item">Best Landscaping Design</li>
              <li class="award__list-item">Best Signage Program</li>
              <li class="award__list-item">Best Logo Design</li>
              <li class="award__list-item">Best Brochure</li>
              <li class="award__list-item">Best Color Newspaper Ad over one-half page</li>
              <li class="award__list-item">Best TV Commercial</li>
              <li class="award__list-item">Best Web Site</li>
              <li class="award__list-item">Best Special Promotion for a Community</li>
              <li class="award__list-item">Project Superintendent of the Year/John Dickinson</li>
            </ul>
          </li>
          <li class="award__list-item">2011	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details">
              <li class="award__list-item">Best Commercial Building – Mixed-Use</li>
              <li class="award__list-item">Best Merchandised Model Home over $750,000</li>
              <li class="award__list-item">Best Specialty Feature Room</li>
              <li class="award__list-item">Best Direct Mail Piece for a Community</li>
              <li class="award__list-item">Best Sales Video a Community</li>
              <li class="award__list-item">Sales Team of the Year</li>
            </ul>
          </li>
          <li class="award__list-item">2010	Community Builders & Remodelers Association of NJ	Awards of Excellence
            <ul class="award__list award__list--details">
              <li class="award__list-item">COMMUNITY OF THE YEAR – Multi-Family Mid/High Rise</li>
              <li class="award__list-item">Best Multi-Family Housing Over $500,000</li>
              <li class="award__list-item">Best Community Brochure</li>
              <li class="award__list-item">Best Community Website</li>
              <li class="award__list-item">Best Community Special Event promotion</li>
              <li class="award__list-item">Best Community Signage</li>
            </ul>
          </li>
          <li class="award__list-item">2007	New Jersey Future Smart Growth Award</li>
        </ul>
      </span>
    </div>
    <div class="row">
      <span class="col">
        <h2 class="awards__headline">Woodmont Properties Company Awards</h2>
        <ul class="award__list">
          <li class="award__list-item">2015 New Jersey Apartment Association Garden State Awards
            <ul class="award__list award__list--details">
              <li class="award__list-item">Property Management Company of the Year (Market Rate under 2000 units)</li>
            </ul>
          </li>
        </ul>
    </span>
    </div>
</section>
{% endblock content %}
