html {
	font-size: 16px;
	line-height: 1.5;
	font-family: $sans;
	color: $dkgray;
}
h1, h2, h3, h4, h5, h6 {
	color: $dkblue;
	font-weight: normal;
	line-height: 1.5;
}
h1, h2, h3 {
	font-family: $serif;
}
.section__headline {
	text-align: center;
	font-size: 3em;
	line-height: 1.25;
	margin-bottom: .75em;
}
.section__subhead {
	@include boldCaps;
	font-weight: 700;
	color: $dkblue;
	letter-spacing: 0;
	font-size: 1.2em;
	line-height: 1.2;
}

.section__cta-button {
	@include boldCaps;
	@include fontSmooth;
	display: inline-block;
	padding: 12px 20px;
	margin-bottom: 30px;
	background: $dkblue;
	font-size: .85em;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: background .3s;
	&:hover {
		background: $gold;
	}
}
.cta__arrow {
	width: 8px;
	height: 12px;
	font-size: 0;
	margin-left: 12px;
}
.section__cta-button--inverted {
	background: $white !important;
	color: $dkblue !important;
	&:hover {
		background: $gold !important;
		color: $white !important;
	}
}
